includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/

    level: 5

    ignoreErrors:
        # On ajoutera des exceptions spécifiques ici si on ne peut pas corriger le code

    excludePaths:
        # Si tu as des fichiers générés ou legacy à ignorer
        # - ./*/*/FileToExclude.php