/* Import Tailwind CSS framework */
@import 'tailwindcss';

/* Include Tailwind CSS plugins for enhanced form styling and typography */
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
    font-family: 'Skriva';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../../public/fonts/Skriva/skriva-bold.ttf) format("truetype");
}

/* Custom theme configuration with system font stack */
@theme {
    --font-sans: 'Inter var', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-skriva: 'Skriva', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
    --font-playwrite: "Playwrite CA", cursive;
    --font-dancing: "Dancing Script", cursive;

    /* Colors */
    --color-primary: #165DFC;
}

/* Remove default red box-shadow on invalid form elements */
input:invalid,
textarea:invalid,
select:invalid {
    box-shadow: none;
}

/* Hide elements with x-cloak attribute (used with Alpine.js) until JavaScript loads */
[x-cloak] {
    display: none;
}